.layout-centralized {
    height: 89%;
    justify-content: center;
    align-items: center;
}

.card-icon {
    font-size: 40px;
    margin-top: 10px;
}

.card-class-create-account {
    min-width: 40%;
}
