@import '~antd/dist/antd.dark.css';

#root {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
}

.height100 {
  height: 100%;
}

.no-margin-bottom {
  margin-bottom: 0;
}
